<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<%= javascript_include_tag 'goksugo.js' %>
<script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
<meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>Крепкий орешек v1.0</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<style>
  body { padding:0px; margin:0px; }
  .right_stat{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    z-index: 10000;
  }
  #game_over{
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-image: url('images/game_over.png');
    display: none;
  }
  #lives, #scores{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #000;
    z-index: 10000;
  }
  #scores{
    top: 30px;
  }
  #scores a{
    color: #fff;
  }
  .hidden{
    display: none;
  }
  form{
    margin: 0 auto;
    display: block;
    margin-top: 150px;
    width: 200px;
  }
  input{
    width: 100%;
    height: 20px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #bababa;

  }
  input[type="submit"]{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    background-color: #fff;
  }
  .vk{
    width: 100px;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -50px;
  }
  .rooney{
    position: absolute;
    bottom: 30%;
    right: 30px;
    z-index: 1000;
  }
</style>
<div class="vk"></div>
<div class="right_stat">
  Игр сыграно: <%= Stat.first.played %> <br>
  Мировой рекорд: <%= Stat.first.high_score %><br>
  Отказов пойти гулять <u><b>ПОДРЯД</b></u>: <%= Stat.first.failure %><br>
</div>
<div class="rooney hidden">
  <img src="/images/rooney.png">
</div>
<div id="scores">Очки: 0</div>
<div id="lives">
  <img src="https://img-fotki.yandex.ru/get/5307/50730026.55/0_10e07f_861eaff2_S" width="20px">
  <img src="https://img-fotki.yandex.ru/get/5307/50730026.55/0_10e07f_861eaff2_S" width="20px">
  <img src="https://img-fotki.yandex.ru/get/5307/50730026.55/0_10e07f_861eaff2_S" width="20px">
  <img src="https://img-fotki.yandex.ru/get/5307/50730026.55/0_10e07f_861eaff2_S" width="20px">
  <img src="https://img-fotki.yandex.ru/get/5307/50730026.55/0_10e07f_861eaff2_S" width="20px">
</div>
<div id='game_over'></div>
<form class="hidden">
  <input type="text" placeholder="Введи свое имя"><br>
  <input type="submit" value="Начать игру" class="submit">
</form>
<!-- <script src='runner.js'></script> -->
</body>
</html>
