<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
<meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>GO, KSU! GO!</title>
</head>
<body>
  <h1> Мобильные устройства не поддерживаются :( </h1>
</body>
</html>
