<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>НЕТ НЕТ НЕТ НЕТ НЕТ</title>
<%= javascript_include_tag 'new_year2.js' %>
<%= stylesheet_link_tag    'new_year2.css' %>
</head>
<body>
  <div id='loading'>
    <div id='loading_container'>
      <div id='loading_progress'><span>loading...</span></div>
    </div>
  </div>
</body>
</html>
