<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<%= javascript_include_tag 'new_year.js' %>

<meta name="viewport" content="width=device-width, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>название</title>

<style>
  body { padding:0px; margin:0px; }
</style>
</head>
<body>
</body>
</html>
