<!-- <!DOCTYPE html>
<html>
<head>
  <title>RailsRunner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head> -->
<!-- <body> -->

<%= yield %>
<!--
</body>
</html> -->
